@font-face {
  font-family: "Schoolbell";
  src: url("/fonts/Schoolbell-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Schoolbell", sans-serif;
  font-size: 18px;
  /* sync with View.Colors.background */
  background-color: #d4d4d4;
  overflow: hidden;
}
#canvas-main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

/* Common */

button {
  background-color: #ffffff00;
  border: 2px solid #444;
  color: #444;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 8px;
  font-size: 0.85em;
  font-weight: bold;
  font-family: inherit;
}
button:hover {
  color: #000;
  transform: scale(1.03);
}
a {
  color: #212d89;
  text-decoration: none;
}
label {
  font-size: 1.25em;
  vertical-align: middle;
}
input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  margin-left: 1em;
  vertical-align: middle;
  /* manual styling */
  appearance: none;
  background-color: transparent;
  border: 2px solid #444;
  border-radius: 3px;
}
input[type="checkbox"]:checked {
  background-color: #444;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E");
  background-size: contain;
}

.tooltip {
  background-color: #f0f0f0;
  color: #222222;
  position: absolute;
  padding: 6px 8px;
  font-size: 0.9em;
  border-radius: 4px;
  pointer-events: none;
}

.achievement-overlay {
  background-color: #fff;
  border-radius: 8px;
  font-size: 0.9em;
  position: absolute;
  bottom: 5%;
  left: 50%;
  padding: 1em;
  transform: translateX(-50%);
  user-select: none;
  z-index: 1;
  display: flex;
}
.achievement {
  width: max-content;
}
.achievement > * {
  margin-right: 1em;
}
.achievement > span {
  color: #666;
}
.achievement-icon {
  width: 2em;
  height: 2em;
}

/* Screens */

.screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  user-select: none;
  pointer-events: none;
  overflow: auto;
}
.screen button,
.screen a,
.screen input,
.screen label,
.screen img,
.screen .achievement,
.screen [data-clickable] {
  pointer-events: auto;
}
.screen > * {
  max-width: 100%;
}

.screen-center {
  justify-content: center;
}

.back-button {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 2.5em;
  height: 2.5em;
  filter: brightness(0.25);
  border: none;
}
.back-button:hover {
  filter: brightness(0);
  transform: scale(1.03);
}

/* Introduction */

.introduction {
  padding: 0em 2em 2em 2em;
  margin-top: -1em;
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.introduction button {
  margin-top: 2em;
}
.introduction li {
  text-align: left;
  margin-bottom: 0.5em;
}
.introduction img {
  width: 1em;
  height: 1em;
  filter: brightness(0.25);
  vertical-align: middle;
}

/* Achievements */

#achievements-stats pre {
  font-weight: bold;
}
#achievements-list {
  margin-top: 1em;
  margin-bottom: 2em;
}
#achievements-reset {
  margin-bottom: 2em;
}

/* Settings */

#settings-options > * {
  margin-bottom: 0.5em;
  text-align: right;
}

#settings-credits {
  margin-top: 2em;
}
