html,
body {
  height: 100%;
  margin: 0;
  /* sync with View.Colors.background */
  background-color: #d4d4d4;
  font-family: sans-serif;
}
#canvas-main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

button {
  background-color: #ffffff00;
  border: 2px solid #444;
  color: #444;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 8px;
  font-size: 0.8em;
  font-weight: bold;
}
button:hover {
  color: #000;
  transform: scale(1.03);
}

.achievement-overlay {
  background-color: #fff;
  border-radius: 8px;
  font-size: 0.8em;
  position: absolute;
  bottom: 5%;
  left: 50%;
  padding: 1em;
  transform: translateX(-50%);
  user-select: none;
  z-index: 1;
  display: flex;
}
.achievement {
  width: max-content;
}
.achievement > * {
  margin-right: 1em;
}
.achievement > span {
  color: #666;
}
.achievement-icon {
  width: 2em;
  height: 2em;
}

/* Screens */

.screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  user-select: none;
  pointer-events: none;
}
.screen button,
.screen a,
.screen input,
.screen img,
.screen [data-clickable] {
  pointer-events: auto;
}

#achievements-list {
  margin-top: 2em;
  padding-bottom: 4em;
}
